/*general styles*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*styles for header*/
header li{
    display: inline-block;
}
.headerBanner{
    height: 50px;
    text-align: center;
}
.headerBanner li
{
    height: 50px;
    text-align: center;
    width: calc(27% - 60px);
    padding: 0 30px;
    line-height: 50px;
}
.headerBanner img{
    width: 30px;
    height: 30px;
    position: relative;
    top: 10px;
}

.nav-container ul{
    background-color: #66fcf1;
    display: flex;
    height: 50px;
    width: 100%;
    text-align: center;
    justify-content: space-around;
}


.nav-container img{
    height: 50px;
}
.nav-container li{
    text-align: center;
    display: inline-block;
    margin: auto;
    height: 100%;
    line-height: 50px;
}
.nav-container i
{
    position: relative;
    top: 2px;
    right: 3px;
}
.nav-container button{
    padding: 5px;
}




/*styles for footer*/
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: left;
}


.collumns{
    display: flex; /* Sử dụng Flexbox */
    flex-wrap: wrap; /* Cho phép các phần tử xuống dòng */
}

.footer-section ul li {
    list-style: none;
    flex: 1 0 50%; /* Mỗi phần tử chiếm 50% chiều rộng */
    margin: 8px 0 0; /* Thêm khoảng cách giữa các phần tử */
    padding-left: 10px;
}
